<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cmdlineFallback" type="VirtualInfrastructure.Utils.XmlSection,VI.Utils" />
  </configSections>
  
  <system.net>
        <connectionManagement>
            <clear/>
            <add address="*" maxconnection="8" />
        </connectionManagement>
    </system.net>
  <appSettings>
    <add key = "protocolports" value = "https:443;http:80"/>
    <add key = "MaxLogFileCount" value = "10"/>
    <add key = "MaxLogSegments" value = "10"/>
    <add key = "LogSegmentMaxMB" value = "5"/>
    <add key = "EagerRelease" value = "health-ui;cim-ui" />
    <add key = "EagerReleasePeriodSec" value = "1800" />
    <!-- if Value for EnableTLS12 is true, TLS12 protocol will be used -->
    <add key = "EnableTLS12" value = "false" />
    <!-- Override vCenter Inventory Service requests client-side timeout. The default is 60 seconds. -->
    <!-- <add key = "QSTimeoutSec" value = "60" /> -->
    <!-- Specify Inventory Service to Inventory Service read timeout in vCenter linked mode.
     The default is governed by the Inventory service. -->
    <!-- <add key = "InterQSTimeoutSec" value = "20" /> -->
  </appSettings>
  
  <!-- The following section is an alternative way to specify command-line
  parameters. If certain parameter is specified in the command line as well,
  that setting takes precedence over whatever is specified here. -->
  <cmdlineFallback>
    
    <!-- Logging options. Can be any combination of the following letters:
    c: log critical info;
    d: log detailed info;
    e: log errors;
    p: log profiling data;
    q: log quick info;
    s: log server messages;
    n: log SOAP messages;
    w: log warnings;
    i: log successful 'ping' requests (logging failed 'ping' requests 
       is turned on by e option)    
    
    May be preceeded by a '+' sign, to add the options to the default
    setting: ewcq.
    
    <log>+sd</log>
    -->

    <!-- set user name:
    <user>username</user>
    -->

    <!-- set server:
    <server>server</server>
    -->

    <!-- set locale:
    <locale>locale</locale>
    -->

    <!-- set locale:
    <locale>locale</locale>
    -->

    <!-- ignore sertificate validation problems:
    <ignorecert />
    -->

  </cmdlineFallback>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
</configuration>
